body {
	text-align: center;
}

body, .board_circle, .board_rect {
	fill: #fffef7;
	background-color: #fffef7;
}

.board_rect, .board_circle, .board_path {
	stroke: gray;
	stroke-width: 1px;
}

.player_piece {
	fill:black;
}

#svg_board {
	margin-top: 8%;
}

#svg_right {
	margin-left: 30px;
}

#svg_left {
	margin-right: 30px;
}

.opponent_piece {
	fill: #d45e1e;
}

.selected {
	stroke: blue;
	stroke-width: 3px;
}