body {
	text-align: center;
}

.board_rect {
	stroke: gray;
	fill: white;
}

.board_circle {
	stroke: gray;
	fill: white;
}

.board_path {
	stroke: black;
}

.opponent_piece {
	fill: blue;
}


.selected {
	stroke: blue;
	stroke-width: 3px;
}