body {
	text-align: center;
}

body, .board_circle, .board_rect {
	fill: #fffef7;
	background-color: #fffef7;
}

h1 {
/*	font-family: Georgia;
*/}

.board_rect, .board_circle, .board_path {
	stroke: gray;
	stroke-width: 1px;
}

.player_piece {
	fill:black;
}

#header {
	margin-top: 5%;
}
#start_button {
	background-color: #a6bddb;
	border-radius:28px;
	border:1px solid #8aaddb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/*font-family: Georgia;*/
	font-size:15px;
	padding:10px 20px;
	text-shadow:0px 1px 0px #2f6627;
}
#svg_board {
	margin-top: 1%;
}

#svg_right {
	margin-left: 30px;
}

#svg_left {
	margin-right: 30px;
}

.opponent_piece {
	fill: #d45e1e;
}

.selected {
	stroke: blue;
	stroke-width: 3px;
}

#exit_form {
	display: none;
}